<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>

    {% include "header.html" %}

    POST MANIPULATION

    {{post}}
    {{error}}

    <form action="/post/manipulate" method="POST">
        <input type="hidden" value='{{ post.id if post and post.id != None }}' />
        <div class="form-group">
            <label for="title" class="form-control-label">Title</label>
            <input value='{{ post.title if post and post.title != None }}' type="text" id="title" name="title" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="image" class="form-control-label">Image</label>
            <input type="text" id="image" name="image" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="text" class="form-control-label">Text</label>
            <input value='{{ post.text if post and post.text != None }}' type="text" id="text" name="text" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="tag" class="form-control-label">Tag</label>
            <input value='{{ post.tag if post and post.tag != None }}' type="text" id="tag" name="tag" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>