<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <style>
        body, html {
            font-family: 'Open Sans', sans-serif;
            height: 100%;
            width: 100%;
        }
        #app {
            padding: 20px;
            box-sizing: border-box;
        }
        form {
            padding: 20px;
            box-sizing: border-box;
            background: white;
            margin: 10px;
            border: 1px solid gainsboro;
            border-radius: 3px;
        }
        #post-body {
            text-align: center;
        }
        .img-responsive {
            height: 400px;
            width: 80%;
        }
        textarea {
            width: 100%
        }
    </style>
</head>
<body>

    {% include "header.html" %}
    <div id="app">
        <section id="post-body">
            <div>
                <h2>{{post.title}}</h2>
                <h4>{{likes}} Likes</h4>
                <h6>{{post.author}} - {{post.timestamp | ctime}}</h6>
            </div>
            <img class="card-img-top img-responsive" src="data:image/png;base64,{{post.image}}" />
            <article>
                {{post.text}}
            </article>
            {% if username == post.author %}
            <div>
                <form action="/post/manipulate" method="GET">
                    <input type="hidden" name="id" id="id" value="{{post.id}}" />
                    <button type="submit" class="btn btn-primary">EDIT POST</button>
                </form>
                <form action="/post/delete" method="POST">
                    <input type="hidden" name="id" value="{{post.id}}" />
                    <button type="submit" class="btn btn-primary">DELETE POST</button>
                </form>
            </div>
            {% endif %}
            {% if username and not username == post.author and user_liked <= 0 %}
                <form action="/post/like" method="POST">
                    <input type="hidden" value="{{username}}" name="username">
                    <input type="hidden" value="{{post.id}}" name="post_id">
                    <button type="submit" class="btn btn-primary">LIKE POST</button>
                </form>
            {% endif %}
              {% if username and not username == post.author and user_liked > 0 %}
                <form action="/post/dislike" method="POST">
                    <input type="hidden" value="{{username}}" name="username">
                    <input type="hidden" value="{{post.id}}" name="post_id">
                    <button type="submit" class="btn btn-primary">DISLIKE POST</button>
                </form>
            {% endif %}

        </section>
        <section id="comments-body">
            <h4>Comments</h4>
            {% if comments %}
                {% for comment in comments %}
                    {% if username == comment.author %}
                     <form action="/editComment" method="POST">
                         <textarea id="comment" name="comment">{{comment.text}}</textarea>
                         <input type="hidden" name="comment_id" value="{{comment.id}}"/>
                         <input type="hidden" name="post_id" value="{{post.id}}"/>
                        <button type="submit" class="btn btn-primary">EDIT COMMENT</button>
                    </form>
                     <form action="/deleteComment" method="POST">
                        <input type="hidden" name="comment_id" value="{{comment.id}}"/>
                         <input type="hidden" name="post_id" value="{{post.id}}"/>
                        <button type="submit" class="btn btn-primary">DELETE COMMENT</button>
                    </form>
                    <small class="text-muted">{{comment.author}} at {{comment.timestamp | ctime}}</small>
                    {% endif %}
                    {% if not username == comment.author %}
                    <div>
                        <div>{{comment.text}}</div>
                        <small class="text-muted">{{comment.author}} at {{comment.timestamp | ctime}}</small>
                    </div>
                    {% endif %}

                {% endfor %}
            {% else %}
                <div>No comments on this post yet</div>
            {% endif %}
            <div>
            {% if username %}
                <form action="/addComment" method="POST">
                    <input type="hidden" id="post_id" name="post_id" value="{{post.id}}"/>
                    <textarea id="comment" name="comment"></textarea>
                    <button type="submit" class="btn btn-primary">ADD COMMENT</button>
                </form>
            {% else %}
                <div>Only logged users can comment</div>
            {% endif %}
            </div>
        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>