<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>

    <form action="/signup" method="post">
        <label for="username" class="">
            <span>Username</span>
            <input type="text" id="username" name="username">
        </label>
        <label for="password" class="">
            <span>Password</span>
            <input type="password" id="password" name="password">
        </label>
        <label for="verify" class="">
            <span>Verify password</span>
            <input type="password" id="verify" name="verify">
        </label>
        <label for="email" class="">
            <span>E-mail</span>
            <input type="email" id="email" name="email">
        </label>
        <input type="submit">
    </form>

</body>
</html>